
body, html {
  height: 100%; 
}
.hero-image {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("header-background.jpg");
  height: 60%;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text{
  text-align: right; 
  position: absolute;
  top: 60%;
  left:55%;
  transform: translate(-50%, -50%);
  color: white; 
}

#show {
  background-color: #F1f1f1;
  color:#0000db; 
  border: none; 
  display: inline-block; 
  font: 25px;
}

#show:hover {
  background-color: rgb(235, 235, 200);
}

.arrow {
  padding:40px; 
}

.form {
  font-family: Verdana;
  font-size: 15px; 
  color: darkslategrey;
}
#output {
  display:none; 
  font-family: Verdana;
  font-size:25px; 
  color:#e17E76;
  font-weight: bold; 
}

.will-be-hidden{
  display: none; 
}

