
body, html {
  height: 100%; 
  background-color: #f1f1f1; 
}
.hero-image {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("header-background.jpg");
  height: 60%;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text{
  text-align: right; 
  position: absolute;
  top: 50%;
  left:55%;
  transform: translate(-50%, -50%);
  color: white; 
}

#show {
  background-color: #F1f1f1;
  color:#594f4f; 
  border: none; 
  display: inline-block; 
  font-size: 20px;
  font-style: Verdana; 
  font-weight: bold;
}

#show:hover {
  background-color:#e5fcc2;
}

.arrow {
  padding:40px; 
}

.form {
  font-family: Verdana;
  font-size: 15px; 
  color: #594f4f;
}

button {
  background-color:#594f4f;
  color: white;
}

#output {
  display:none; 
  font-family: Verdana;
  font-size:25px; 
  color: ##594f4f;
  font-weight: bold; 
}

.will-be-hidden{
  display: none; 
}

